@font-face {
  font-family: 'OpenSans-Light';
  src: local('OpenSans-Light'), url(./assets//fonts/Open_Sans/OpenSans-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: local('OpenSans-Light'), url(./assets//fonts/Open_Sans/OpenSans-Bold.ttf) format('truetype');
}